body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 140px ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header ul{
   list-style-type: none;
   padding: 0;
}
.header ul li{
    display: inline;
    margin-right: 15px;
}

.header .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.logo{
    height: 15px;
    width: 110px;
    margin-right: 30px;
}
.header .basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basket .cart{
    height:15px;
    margin-right: 25px;
    cursor: pointer;
}
.basket .avatar{
    height: 35px;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.main-image{
    width: 400px;
    margin-bottom: 20px;
    border-radius: 24px;
}
.thumbnails{
    display: flex;
    justify-content: space-between;
}
.thumbnails img{
    width: 80px;
    border-radius: 10px;
    
}
.item-details{
    margin-top: 30px;
}
.item-details .company-name{
    font-size: 10px;
    color: orange;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.price p{
    font-size: 25px;
    font-weight: bold;
    margin-right: 12px;
}
.price .discount{
    font-size: 16px;
    font-weight: bold;
    color: orange;
    margin-top: -30px;
    padding: 5px 10px ;
    border-radius: 5px;
    background-color:hsl(33, 68%, 85%);
}
.oldprice{
    display: inline-block;
    color: lightgrey;
    text-decoration: line-through;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 2px;
}

.button .btn{
    border: none;
    color: orange;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 18px;

}
.button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.button .btn-cart{
    padding: 15px 80px;
    border-radius: 8px;
    background-color: orange;
    color: white;
    border: none;
    margin-left: 12px;
    font-size: 20px;

}
.button .btn-qty{
    background-color:  hsl(223, 64%, 98%);
    padding: 13px;
    border-radius: 10px;

}
.button .btn-qty  span{
    background-color:  hsl(223, 64%, 98%);
    padding: 5px 10px;
}

 .cart2{
    width: 15px;
    color: white ; 
    margin-right: 15px;
}
